Register<br/>
<a href="/login">-> login</a><br/>
<form name='register' action='/register' method='post'>
    <input type="text" name="username" value="" placeholder="username"/>
    <input type="password" name="password" value="" placeholder="password"/>
    <input type="submit" value="Register"/>
</form>